/* Basic reset for margins and padding */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
  /* padding: 20px; */
}
.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aa3442; /* Adjust as needed */
  padding: 15px 20px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Adjust as needed */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: white; /* Adjust as needed */
  padding: 10px 15px;
}
.nav-links a:hover {
  color: #3c6a9b;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  background-color: silver;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #984646;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  margin-bottom: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #00ff33;
}

button[type="submit"] {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
